# 微信开发者工具
.DS_Store
node_modules/
miniprogram_npm/

# 项目私有配置
project.private.config.json

# 云函数
cloudfunctions/**/node_modules/
cloudfunctions/**/.DS_Store
cloudfunctions/**/package-lock.json

# 日志
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器
.idea/
.vscode/
*.swp
*.swo
*~

# 临时文件
*.tmp
.cache/
